* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul>li {
    list-style: none;
}

header {
    position: relative;
    height: 80px;
    background: #000;
}

header>.container {
    width: 90%;
    margin: 0 auto;
}

header>.container>.logo {
    margin: 5px 15px;
    float: left;
}

header>.container>nav {
    float: right;
}

header>.container>nav>a {
    display: block;
    font-size: 23px;
    height: 73px;
    width: 110px;
    float: left;
    line-height: 73px;
    text-align: center;
    color: #fff;
}

header>.container>nav>a:nth-child(1) {
    background: #433b90;
}

header>.container>nav>a:nth-child(2) {
    background: #017fcb;
}

header>.container>nav>a:nth-child(3) {
    background: #78b917;
}

header>.container>nav>a:nth-child(4) {
    background: #feb800;
}

header>.container>nav>a:nth-child(5) {
    background: #f27c01;
}

header>.container>nav>a:nth-child(6) {
    background: #d40112;
}

header>.container>nav>a.active {
    padding-bottom: 7px;
}

header>.container>nav>a:hover {
    padding-bottom: 7px;
}


/*.banner {
    position: relative;
    background: #eaeaea;
}

.banner>ul {
    position: relative;
    width: 1490px;
    height: 538px;
    margin: 0 auto;
    padding-marginTop: 10px;
}

.banner>ul>li {
    position: absolute;
    width: 610px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
}

.banner>ul>li.active {
    marginLeft: 0;
    right: 0;
    width: 960px;
    height: 460px;
    margin: auto;
    marginTop: 37px;
    z-index: 2;
}

.banner>ul>li.marginLeft {
    marginLeft: 0;
    marginTop: 0;
    bottom: 0;
    margin: auto;
}

.banner>ul>li.right {
    marginTop: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.banner>ul>li>imgs {
    position: absolute;
    marginLeft: -30%;
    height: 100%;
}*/


/*------banner样式-----------*/

.banner {
    position: relative;
    background: #eaeaea;
}

.banner>ul {
    position: relative;
    width: 1490px;
    height: 461px;
    padding-top: 38px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.banner>ul>li {
    width: 610px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

.banner>ul>li.active {
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 960px;
    height: 460px;
    border: 1px solid #ffffff;
}

.banner>ul>li.left {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.banner>ul>li.right {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.banner>ul>li>img {
    left: -30%;
    height: 100%;
    position: absolute;
}

.banner:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background: #d6d6d6;
    bottom: 0;
}


/*-------------main页面----------------------*/

.main {
    position: relative;
    width: 1200px;
    height: 473px;
    margin: 34px auto 0;
}

.main>aside {
    width: 450px;
    float: left;
}

.main>aside>dl {
    position: relative;
    display: block;
    height: 74px;
    margin-bottom: 17px;
}

.main>aside>dl>dt {
    position: absolute;
    top: -1px;
    left: 92px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: underline;
}

.main>aside>dl>dd:last-of-type {
    position: absolute;
    left: 0;
}

.main>aside>dl>dd:first-of-type {
    position: absolute;
    left: 90px;
    top: 20px;
}

.main h1 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 23px;
}

.main h1>samp {
    color: #7c7c7c;
    font-size: 30px;
}

.main>article {
    width: 720px;
    float: right;
    overflow: hidden;
}

.main>article>p {
    margin-bottom: 20px;
}


/*------------footer样式-----------------*/

footer {
    background: #000;
    position: relative;
}

footer>.container {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

footer>.container>p {
    line-height: 64px;
    float: left;
    color: #fff;
}

footer>.container>span {
    float: right;
    margin: 14px 40px;
}

footer>.container>span>img {
    margin-left: 4px;
    opacity: 0.7;
}

footer:before {
    position: absolute;
    z-index: -1;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    content: "";
    background: #d6d6d6;
}