* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, "Microsoft Yahei";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    background: #000;
    height: 80px;
}

header>.logo {
    float: left;
    margin: 5px 150px;
}

header>nav {
    float: right;
}

header>nav>a {
    color: white;
    display: block;
    float: left;
    width: 110px;
    height: 73px;
    line-height: 73px;
    text-align: center;
    font-size: 24px;
}

header>nav>a:nth-child(1) {
    background: #433b90;
}

header>nav>a:nth-child(2) {
    background: #017fcb;
}

header>nav>a:nth-child(3) {
    background: #78b917;
}

header>nav>a:nth-child(4) {
    background: #feb800;
}

header>nav>a:nth-child(5) {
    background: #f27c01;
}

header>nav>a:nth-child(6) {
    background: #d40112;
}

header>nav>a:hover {
    padding-bottom: 10px;
}

